:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  margin: 0;
  padding: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.three-scene {
  margin: 0;
  padding: 0;
  background: radial-gradient(circle, #a22 70%, #611);
}

button {
  position: absolute;
  min-width: 100px;
  min-height: 100px;
  font-size: 5rem;
  border-radius: 10px;
  background-color: #111;
}
button:hover {
  background-color: #a83;
}

#hud {
  position: absolute;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding 20px;
  top: 0;
  left: 0;
}

#hud p {
  font-size: 1.2rem;
  margin-right: 40px;
}

#hud-info {
  position: absolute;
  bottom: 0;
  left: 0;
  padding 20px;
  font-size: 2rem;
}
